.profile{
    width: 210px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.card{
    width: 210px;
    height: 425px;
    align-items: center;
    text-align: left;
    margin-bottom: 14px;
}
.link{
    margin-left: 75%!important;
    font-size:medium;
}